* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Open Sans';
    height: 64px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* bannar style */
.banner {
    display: flex;
    margin: 0 40px 0 210px;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 70px;
    /* line-height: 116px; */
    color: #181818;
    margin-bottom: 20px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    /* line-height: 61px; */
    color: #474747;
    margin-bottom: 5px;

}

.banner-description {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;

}

div ul {
    display: flex;
    list-style: none;

}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    margin-top: 130px;
    margin-bottom: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;

}

.section-title {
    margin-bottom: 70px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;

}

.section-description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    margin-bottom: 30px;

}

.info-section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 70px;
}

.about-info .info-title {
    font-size: 20px;
    color: #757575;
}

.about-info .info-description {
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}

.section-title-description {
    text-align: center;
    margin: 30px 180px 50px 180px;
    color: #757575;
    font-size: 18px;
}
.skills {
    display: flex;
    gap: 24px;
    margin: 30px 100px 100px 100px;
    
}
.skill-category{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 20px;
}

.skill-name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
}

.skill-description {
    font-size: 18px;
    color: #757575;
}
/* Resume Style section */
.resume-content{
    display: flex;
    margin: 50px 150px 50px 150px;
    gap: 30px;
}
.edex-title{
    font-size: 28px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 30px;
}
.institute{
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    color: #474747;
}
.year{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 11px;
    margin-top: 6px;
    color: #757575;
}
.institute-description{
    font-size: 17px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
    
}
.resume-button{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}